{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

<h1>10 youngest 19+ Titanic survivors</h1>

<table border="1">
<caption>10 youngest 19+ Titanic survivors</caption>
<th>PassengerId</th><th>Survived</th><th>Pclass</th><th>Name</th><th>Sex</th><th>Age</th><th>SibSp</th><th>Parch</th><th>Ticket</th><th>Fare</th><th>Cabin</th><th>Embarked</th>
<tr><td>193</td><td>1</td><td>3</td><td>Andersen-Jensen, Miss. Carla Christine Nielsine</td><td>female</td><td>19</td><td>1</td><td>0</td><td>350046</td><td>7.8542</td><td></td><td>S</td></tr>
<tr><td>547</td><td>1</td><td>2</td><td>Beane, Mrs. Edward (Ethel Clarke)</td><td>female</td><td>19</td><td>1</td><td>0</td><td>2908</td><td>26</td><td></td><td>S</td></tr>
<tr><td>292</td><td>1</td><td>1</td><td>Bishop, Mrs. Dickinson H (Helen Walton)</td><td>female</td><td>19</td><td>1</td><td>0</td><td>11967</td><td>91.0792</td><td>B49</td><td>C</td></tr>
<tr><td>45</td><td>1</td><td>3</td><td>Devaney, Miss. Margaret Delia</td><td>female</td><td>19</td><td>0</td><td>0</td><td>330958</td><td>7.8792</td><td></td><td>Q</td></tr>
<tr><td>284</td><td>1</td><td>3</td><td>Dorking, Mr. Edward Arthur</td><td>male</td><td>19</td><td>0</td><td>0</td><td>A/5. 10482</td><td>8.05</td><td></td><td>S</td></tr>
<tr><td>888</td><td>1</td><td>1</td><td>Graham, Miss. Margaret Edith</td><td>female</td><td>19</td><td>0</td><td>0</td><td>112053</td><td>30</td><td>B42</td><td>S</td></tr>
<tr><td>227</td><td>1</td><td>2</td><td>Mellors, Mr. William John</td><td>male</td><td>19</td><td>0</td><td>0</td><td>SW/PP 751</td><td>10.5</td><td></td><td>S</td></tr>
<tr><td>137</td><td>1</td><td>1</td><td>Newsom, Miss. Helen Monypeny</td><td>female</td><td>19</td><td>0</td><td>2</td><td>11752</td><td>26.2833</td><td>D47</td><td>S</td></tr>
<tr><td>428</td><td>1</td><td>2</td><td>"Phillips, Miss. Kate Florence (""Mrs Kate Louise Phillips Marshall"")"</td><td>female</td><td>19</td><td>0</td><td>0</td><td>250655</td><td>26</td><td></td><td>S</td></tr>
<tr><td>763</td><td>1</td><td>3</td><td>Barah, Mr. Hanna Assi</td><td>male</td><td>20</td><td>0</td><td>0</td><td>2663</td><td>7.2292</td><td></td><td>C</td></tr>
</table>

<a href="http://127.0.0.1:8000/data.json"/>check full data</a> 